<!DOCTYPE html>
<html>
  <head>
    <title>Spacerails</title>
    <%= csrf_meta_tags %>

   
  </head>

  <body>
  <div id="menu">
  	<%= link_to "ALIENS", aliens_path %>
  	<%= link_to "PLANETS", planets_path %>
  	<%= link_to "POWERS", powers_path %>
  </div>
    <%= yield %>
  </body>
</html>
